/.ConnectionTemplate.java._trace
/.ConnectionTemplate.xtendbin
/.FeatureTemplate.java._trace
/.FeatureTemplate.xtendbin
/ConnectionTemplate.java
/FeatureTemplate.java
/.ProcessTemplate.java._trace
/.ThreadTemplate.java._trace
